<?xml version='1.0' encoding='utf-8'?>
<widget id="io.api.connect.rancho" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="SwiftVersion" value="5.0" />

    <name>Urb Rancho San Francisco</name>
    <description>Aplicacion de reserva del rancho san francisco</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Api Connect Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <icon src="res/icon/android/logo.png" density="ldpi" />
    <platform name="ios">
    
        <icon src="res/icon/ios/Icon-100.png" width="100" height ="100"/>
        <icon src="res/icon/ios/Icon-1024.png" width="1024" height ="1024"/>
        <icon src="res/icon/ios/Icon-114.png" />
        <icon src="res/icon/ios/Icon-120.png" />
        <icon src="res/icon/ios/Icon-128.png" />
        <icon src="res/icon/ios/Icon-144.png" />
        <icon src="res/icon/ios/Icon-152.png" />
        <icon src="res/icon/ios/Icon-16.png" />
        <icon src="res/icon/ios/Icon-167.png" />
        <icon src="res/icon/ios/Icon-172.png" />
        <icon src="res/icon/ios/Icon-180.png" />
        <icon src="res/icon/ios/Icon-196.png" />
        <icon src="res/icon/ios/Icon-20.png" />
        <icon src="res/icon/ios/Icon-256.png" />
        <icon src="res/icon/ios/Icon-29.png" />
        <icon src="res/icon/ios/Icon-32.png" />
        <icon src="res/icon/ios/Icon-40.png" />
        <icon src="res/icon/ios/Icon-48.png" />
        <icon src="res/icon/ios/Icon-50.png" />
        <icon src="res/icon/ios/Icon-512.png" />
        <icon src="res/icon/ios/Icon-55.png" />
        <icon src="res/icon/ios/Icon-57.png" />
        <icon src="res/icon/ios/Icon-58.png" />
        <icon src="res/icon/ios/Icon-60.png" />
        <icon src="res/icon/ios/Icon-64.png" />
        <icon src="res/icon/ios/Icon-72.png" />
        <icon src="res/icon/ios/Icon-76.png" />
        <icon src="res/icon/ios/Icon-80.png" />
        <icon src="res/icon/ios/Icon-87.png" />
        <icon src="res/icon/ios/Icon-88.png" />


        <allow-navigation href="about:blank" />

        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" /> <!-- Puedes cambiar el color según tu diseño -->



        <config-file platform="ios" target="*-Info.plist" parent="NSFaceIDUsageDescription">
            <string>Reason for using Face ID</string>
        </config-file>
        <config-file platform="ios" target="*-Info.plist" parent="NSBiometricUsageDescription">
            <string>Reason for using biometrics</string>
        </config-file>
    </platform>

    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
        </config-file>
    </platform>
    
    <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
        <string>Se buscara en sus contactos para recuperar el nuemro de telefono</string>
    </edit-config>

     <!-- Configuración del plugin de cámara -->
    <plugin name="cordova-plugin-camera" spec="6.0.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Este aplicativo necesita acceso a la cámara para tomar fotos." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Este aplicativo necesita acceso a la galería de fotos para seleccionar imágenes." />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="Este aplicativo necesita acceso al micrófono para grabar videos." />
    </plugin>

    <config-file platform="ios" target="*-Info.plist" parent="NSCameraUsageDescription">
    <string>Este aplicativo necesita acceso a la cámara para tomar fotos.</string>
</config-file>
<config-file platform="ios" target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
    <string>Este aplicativo necesita acceso a la galería de fotos para seleccionar imágenes.</string>
</config-file>
<config-file platform="ios" target="*-Info.plist" parent="NSMicrophoneUsageDescription">
    <string>Este aplicativo necesita acceso al micrófono para grabar videos.</string>
</config-file>

</widget>
